:root{
    --dark-grey: #171717;
    --light-grey: #1F1F1F;
    --light-blue: #2D7CEC;
    --btn-blue: #1463D3;
}
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-grey);
}
p{
    margin:0;
}
/* Global container */
.a_container{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}
/* Form container */
.a_contain{
    display:flex;
    flex-direction:column;
    gap:0px;
    padding: 2.5rem;
    background:var(--light-grey);
    border-radius: 1.875rem;
}
p.log{
    margin:0;
    font-size: 25px;
    color:#fafafa;
    font-weight:bold;
}
p.access{
    color:#A1A1A1;
    margin-bottom: 35px;
}
#logo-disconnect{
    width:18px;
    height:23px;
}
#logo-disconnect:hover{
    cursor: pointer; 
}

.blue-text{
    color: var(--light-blue);
}
/* Form */
#form-connect{
    display:flex;
    gap: 14px;
    flex-direction:column;
}
/* Form INPUTS */ 
#form-connect input{
    border-radius:5px;
    color:white;
}
input[type="text"]{
    background:url('../img/icons/mail-icon.svg') no-repeat left 15px center;
    border: 1px solid #707070;
    padding:13px;
    padding-left:70px;
}
input[type="password"]{
    background:url('../img/icons/key-icon.svg') no-repeat left 15px center;
    border: 1px solid #707070; 
    font-size:20px;
    padding:13px;
    padding-left:70px;
}
input::placeholder{
    color:#f2f2f2;
}
input:focus::placeholder{
    visibility: hidden;
}
input:focus{
    border:none;
    outline :1px solid var(--light-blue);
}
#incorrect{
    color:red;
}
/* BTN Submit */
#btn-submit{
    padding:13px;
    background-color:var(--btn-blue);
    font-weight: bold;
    font-size: 18px;
    margin-top:35px;
    border: none;
}
#btn-submit:hover{
    cursor:pointer;
    background-color: hsl(215, 83%, 50%); 
}

/* Dashboard */
main{
    padding:35px 45px;
}
.dash_up_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}
.dash_up_right{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
/* Table */
.table_contain{
    display: flex;
    flex-direction: column;
    margin-top:10vh;
    padding:20px;
    background: var(--light-grey);
}   
table{
    border-radius: 4px;
}
thead{
    text-align:left;
}
.table-head td{
    color:white;
}
tr :nth-child(2){
    text-align:right;
}
caption{
    display: inline;
}
tbody, caption{
    color: white;
    background: var(--light-grey);
}
tr :nth-child(3){
    text-align: right;
}
tr{
    height:65px;
}
th{
    color: var(--light-blue);
    border-bottom: 1px solid #525252;

}
td{
    border-bottom: 1px solid #525252;
}
.arrow-array:hover{
    cursor: pointer;
}
/* Delete user BTN */
.btn-del-user{
    width :45px;
}
.btn-del-user:hover{
    cursor: pointer;
}
/* Export CSV BTN*/
#btn-export-csv{
    padding:6px 20px;
    border:none;
    color: white;
    font-weight: bold;
    background-color: var(--btn-blue);
}
#btn-export-csv:hover{
    cursor: pointer;
    background-color: hsl(215, 83%, 50%); 
}
@media (max-width: 576px) {
    .a_contain{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1.25rem;
    }
    input[type="password"]{
        font-size: 13px;
    }
    #btn-submit{
        padding:4% 75px;
    }
}