:root {
--line-color: #BB853A;
--black-color:#020202;
--white-color:#FEFEFE;
--grey-color:rgb(49, 49, 49, 0.33);
--red-color:#e1090f;
--red-gradient:linear-gradient(to bottom, #ff0009, #b80006);
}
html{
    scroll-behavior:smooth;
}
html.sr .load-hidden {
    visibility: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black-color);
    font-family: 'Raleway', sans-serif; 
}
/* TEXT STYLES */
h1, li{
    color: var(--white-color);
    font-family: 'Radley', serif;
    text-transform: uppercase;
}
h1.title{
    text-align: center;   
    font-weight: normal;
    letter-spacing: 11px;
    font-size: clamp(1.8rem, 4vw, 3rem);
    text-shadow: 1px 1px 5px var(--black-color);
}
.title--active{
    animation: .3s ease-in-out opacity forwards;
}
@keyframes opacity{
    from{opacity:1}
    to{opacity:0}
}
a{
    text-decoration: none;
}
p, h2, h3{
    font-family: 'Raleway', sans-serif; 
    color:var(--white-color);
}
h3{
    text-transform: uppercase;
    margin:0
}
ul{
    padding:0;
}
li{
    list-style-type: none;
}
input{
    font-family: 'Raleway', sans-serif; 
}
/* Btn Read More */
/* DECORATIVE LINES */
span.menu-line{
    display: block;
    height: 2px;
    width: 58px;
    background-color: var(--line-color);
}
span.whois-line{
    display:inline-block;
    margin-left:16px;
    height: 2px;
    width: 215px;
    background-color: var(--line-color);
}
span.h2-line{
    display:block;
    align-self:flex-end;
    height: 2px;
    width: 58px;
    background-color: var(--line-color);
}
/*MAIN WRAPPER*/

/* HEADER */
.header-up{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    background: url('../img/backgrounds/bckg-header.png') no-repeat center ;
    background-size:cover;
    height: 100vh;
}
/*MENU Up*/
.container-nolan-title_navbar{
    display:none;
    z-index: 9999;
    position: sticky;
    justify-content:flex-end;
    align-items:center;
    top: 0;
    height: 50px;
    width:56.2%;
}
.nolan-title_navbar{
    margin:0;
    font-family: 'Radley', serif;
    font-size: clamp(1.8rem, 4vw, 3rem);  
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.nolan-title_navbar a{
    text-decoration:none;
    color: white;
}
.--active{
    animation: 2.8s ease-in-out move-left forwards;
}
@keyframes move-left{
    from{opacity:1;}
    to{opacity:1;transform: translateX(-38.5vw)}
}
.--inactive{
    animation: 2.8s ease-in-out move-right forwards;
}
@keyframes move-right{
    from{transform: translateX(-40vw)}
    to{transform: translateX(0vw)}
}
.menu-contain{
    display: flex;
    z-index:150;
    align-items:center;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    background-color: rgba(2,2,2, 0.8);
    height: 50px;
    width: 100%;
}
.menu-up{
    display: flex;
    gap: 50px;
    padding-right: 3.5rem;
}
.menu-up li a{
    color: var(--white-color);
    font-family: 'Radley', serif;
    text-transform: uppercase;
}
.active-link{
    border-bottom:2px solid var(--line-color);
    padding-bottom:5px;
}

/*Content Wrapper*/
/* .content-wrapper{
    padding:0 13.375rem;
} */
/*Styles Global SECTIONS*/
/* .section{
} */
.section_titles{
    display:flex;
    flex-direction:column;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 50px;
    text-transform: uppercase;
}

/* SECTION 1 : ABOUT - DIVs */
.about{
    display: flex;
    align-items: center;
    z-index: 9999;
    justify-content: space-evenly;
    padding: 10px;
}


/* SECTION 1 : Texts */

.about-whois{
    font-size: 50px;
}
p.nolan-title{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.about-text{
    max-width: 35.25rem;
    text-align:justify;
    line-height: 23px;
    border-bottom: 1px solid var(--white-color);
}
/*Animated Circle Background About*/
.circle_container{
    max-width:auto;
    min-width:150px;
}
.circle{
    position:absolute;
    top: 80%;
    left: -7%;
    z-index: -1;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: var(--black-color);
    animation: first_color 1.8s ease-in-out infinite alternate;
}
@keyframes first_color{
    0%{box-shadow:0 0 10px #14a9ff, 0 0 20px #2DA6EB, 0 0 30px #285aeb}
    100%{box-shadow:0 0 5px #184158, 0 0 10px #020607, 0 0 15px #05080f}
}
/* UP arrow */
#scrollUp{
    position: fixed;
    bottom : 25px;
    right: -100px;
    opacity: 0.5;
    z-index:9999;
}
#scrollUp .active{
    transform: scale(15px);
}
 /* SECTION 2 : COMING SOON - DIVs */
.coming{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/backgrounds/bckg-blackhole.webp') no-repeat center;
    background-position: center ;
}
/* Global elements container */
.video_container{
    z-index:0;
    position:relative;
    display: flex;
    height:100%;
    margin-top:65px;
    margin-bottom: 115px;
}
/* Youtube Iframe container*/
.video-player{
    display: flex;
    position:relative;
    align-items: flex-start;
    z-index: 0;
}
.video_right_anim{
    animation: 2s video-right forwards;
}
@keyframes video-right{
    from {width:561px; height:200px; left:0px; transform: scale(1);}
    to {width: 700px;height:300px;
    left: 29.9%;transform: scale(1.10);}
}
.video_left_anim{
    animation: 2s video-left forwards;
}
@keyframes video-left{
    from {width: 700px;height:300px;
        left: 29.9%;transform: scale(1.10);}
    to {width:561px; height:200px; left:0px;transform: scale(1);}
}

/* Description and button container */
.movie-title{
    font-weight:100;
    text-transform: none;;
}
.video-desc_container{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    z-index:1;
    position:relative;
    right:0px;
    background-color: var(--grey-color);
    width: 561px;
    margin-top:250px;
    height: 200px;
    padding: 3px 16px;
}
.video-desc{
    overflow: hidden;
    height: 126px;
}
/* Coming soon Video desc animation */
.desc_left_anim{
    animation: 2s desc-move-left forwards;
}
@keyframes desc-move-left{
    from {width: 561px;height:200px; right: 0;top:5px;}
    to {width: 616px;height:300px; right: 25.89%;top:80px;}
}
.desc_right_anim{
    animation: 2s desc-move-right forwards;
}
@keyframes desc-move-right{
    from {width: 616px;height:300px; right: 25.89%;top:80px; }
    to {width: 561px;height:200px; right: 0;top:7px;}
}
/* BTN Read More */
.btn-read-more {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    text-transform: uppercase;
    border: 1px solid var(--red-color);
    background-color: transparent;
    border-radius:5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
} 
.btn-read-more::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--red-gradient);
    transform: translateX(-101%);
    transition: all .3s;
    z-index: -1;
}
.btn-read-more:hover::before {
    transform: translateX(0);
}

/* SECTION 3 - MOVIES Gallery : DIVs */

/* Global Container */
.movies{
    display: flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    background: url('../img/backgrounds/bckg-interstellar.webp') no-repeat bottom;
}

/*Carousel*/

#d1{
    display:none;
    text-transform: none;
    position:absolute;
    top:0;
    animation: 0.5s cubic-bezier(0, 0, 0.2, 1) scale-effect forwards;
}
@keyframes scale-effect{
    from  {transform:scale(0); opacity:(0);}
    to {opacity:(1);}
}
.exit_cross{
    z-index: 2;
    box-sizing: border-box;
    display: none;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 115px;
    left: 35rem;
    border: 1px solid white;
    border-radius:25px;
    width: 35px;
    height: 35px;
    animation: 0.5s cubic-bezier(0, 0, 0.2, 1) apparition-effect forwards;
    
}
@keyframes apparition-effect{
    from {transform:scale(0); opacity:(0);}
    to {opacity:(1);}
}
.exit_cross span{
    background-color:white;
    height : 2px;
    width: 22px;
}
.exit_cross:hover{
    box-shadow:0px 0px 5px 2px rgb(147 5 5);
}
.line-1{
transform:rotate(135deg);
}
.line-2{
transform:rotate(45deg);
}
.distribution_contain{
    padding-left:25px;
    padding-right:25px;
}
.large_carousel_title2{
    text-transform: uppercase;
    font-weight:bold;
}
.roles{
    text-align:end;
}
.carousel_movie_trailer{
    background-color:rgba(33, 33, 33, 0.9);
    width:560px;
}
.carousel_movie_trailer > h2{
    text-transform: uppercase;
    margin:0;
    text-align: center;
}
.distribution_contain{
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.carousel-contain{
    display:flex;
    width:1000px;
}
.carousel-movies {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}
.carousel-movie{
    flex: 1 0 300px;
    scroll-snap-align: start;
}
.movie-card{
    width:263px;
}
.movie-card h2{
    font-size:16px;
    text-align:center;
    text-transform:initial;
}
.movie-desc{
    font-size:14px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    padding: 10px;
    height:115px;
    background-color: var(--grey-color);
}
.movie-desc p{
    text-transform: none;
    font-weight:100;
}
::-webkit-scrollbar-track {
    background-color: var(--black-color);
}
::-webkit-scrollbar {
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: #774c11;
    border-radius: 3px;
}
/* SECTION 3 - MOVIES Gallery : texts */
p.movie-year{
    margin: 0;
    font-style: italic;
}

/* SECTION 4 - Pictures Gallery - DIVs */
.gallery{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
/* Global Pictures Container */
.img-container{
    display: grid;
    gap: 15px;
    margin-top:65px;
    grid-template-columns: repeat(2, 1fr);
}
/* Specials display */
.img-bloc1{
    display:flex;
    gap:10px;
}
.img-bloc2{
    display:grid;
}
.img-bloc3{
    display: grid;
    justify-items: end;
    grid-template-columns:fit-content(248px) 1fr;
}
.contain-pict{
    display:flex;
    flex-direction: column;
    gap:13px;
}
/**/
#responsive-gal{
    display:none;
}
/* Pictures Effects */
.image-zoom{
    width: 100%;
    overflow:hidden;
}
.gal-pict{
    transition: transform 2.1s, filter 0.8s;
    filter:saturate(0);
}
.gal-pict:hover{
    cursor:pointer;
    filter:unset;
    transform: scale(1.10) translate(1px) rotate(1deg);
}
#full-img-container{
    display:none;
    z-index:9999;
    position:fixed;
    align-items: center;
    justify-content: center;
    width:99vw;
    height:100vh;
    gap: 15px;
    top:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.8);
}
#full-img-contain{
    display: flex;
    max-width: 900px;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
}
#full{
    border: 1px solid white;
    width:100%;
    user-select: none;
}
.full-img-exit_cross{
    z-index: 2;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius:25px;
    width: 35px;
    height: 35px;
    animation: 0.5s cubic-bezier(0, 0, 0.2, 1) apparition-effect2 forwards;
}
.full-img-cross-container{
    display:flex;
    align-content: flex-end;
}
@keyframes apparition-effect2{
    from {transform:scale(0); opacity:(0);}
    to {opacity:(1);}
}
.full-img-exit_cross span{
    background-color:white;
    height : 2px;
    width: 22px;
}
.full-img-exit_cross:hover{
    cursor:pointer;
    box-shadow:0px 0px 5px 2px rgb(239, 0, 0);
    transform: scale(1.1);
}
.line-1{
transform: translateY(1px) rotate(135deg);
}
.line-2{
transform:rotate(45deg);
}
#arrow-right{
    width: 39px;
    fill:rgba(255, 255, 255, 0.5);
}
#arrow-left{
    width: 39px;
    transform: rotate(-180deg);
    fill:rgba(255, 255, 255, 0.5);
}
#arrow-right, #arrow-left{
    cursor: pointer;
}
#arrow-left:hover{
    transform:rotate(-180deg) scale(1.2);
    fill:rgba(255, 255, 255, 1);
}
#arrow-right:hover{
    transform:scale(1.2);
    fill:rgba(255, 255, 255, 1);
}
/* FOOTER */
footer{
    padding-top: 240px;
    padding-bottom:1px;
    background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(83, 83, 83, 0.7)), url('../img/backgrounds/bckg-inception.webp');
    background-repeat: no-repeat;
    background-position: bottom center;
}
/* FOOTER Form */
.form-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding-bottom: 50px;
}
.form-title{
    margin: 0;
    font-size: 38px;
    text-shadow: 1px 1px 2px black;
}
.form-title2{
font-size:25px;
}
/* NEWSLETTER Field */
label{
    display:block;
    margin: 7px 9px;
}
#mail-input{
    width: 374px;
    color:white;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 11px;
    border-radius: 8px;
    border: 1px solid black;
}
#mail-input::placeholder{
    color:white;
    font-weight: 500;
 }
#mail-input:focus {
    border:1px solid rgba(251, 251, 251, 0.379);
    color:white;
    outline:none;
}
input:focus::placeholder{
    visibility: hidden;
}
.input-mail{
    display:block;
    padding: .625rem 0.6rem;
}
.input-mail--invalid{
    border: 1px solid red;
}
.input-mail--valid{
    border: 2px solid #15ff00;
}
/* Newsletter Btn */
.btn-submit{
    color:var(--white-color);
    cursor:pointer;
    text-transform: uppercase;
    font-size:15px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: var(--red-color);
    border-radius: 8px;
    padding: 9px 16px 9px 16px;
    border: 2px solid #000000;
}

/* Footer Components */
.foot-components{
    display: flex;
    justify-content: space-evenly;
    padding-top: 77px;
}
.foot-titles{
    text-shadow: 0px 4px 5px var(--red-color);
    text-transform: uppercase;
    font-weight: bold;
}
.foot-components a{
    font-family:'Raleway', sans-serif;
    text-transform: none;
    color: var(--white-color);
}
.sitemap{
    display:flex;
    flex-direction: column;
    column-gap: 10px;
}
.sitemap ul{
    margin:0px;
}
.sitemap li{
    line-height: 1.9;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials-logo{
    display:flex;
    gap:25px;
    align-items:center;
}
.logo-social{
    width:35px;
    fill:#FEFEFE;
}
.logo-social:hover{
    fill: rgb(184, 184, 184);
}
.copyright{
    padding-top:25px;
    font-weight: 100;
    font-style:italic;
    text-align: center;
}

#btn-submit{
    color: white;
    background-color: #1463D3; 
    padding:10px;
    border-radius:5px;
    font-weight: bold;
    font-size: 18px;
    margin-top:35px;
    border: none;
}
#btn-submit:hover{
    cursor:pointer;
}

/*********** MEDIA QUERIE LAPTOP *************/
@media screen and (max-width:1024px){
    .menu-up{
        gap: 25px;
        padding-right: 2rem;
    }
    .nolan-title_navbar{
        margin:0;
        font-family: 'Radley', serif;
        font-size: clamp(1.8rem, 4vw, 3rem);  
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    .menu-up li a{
        color: var(--white-color);
        font-size:0.9rem;

    }
    @keyframes move-left{
        from{opacity:1;}
        to{opacity:1;transform: translateX(-32vw)}
    }
}

/************ MEDIA QUERIE MOBILE 620px ************/

@media all and (max-width:620px){
    .menu-up{
        background-color:rgba(5, 5, 5, 0.9);
        display: none;
        width: 100vw;
        padding: 7% 0;
        gap: 67px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 33px;
    }
    .menu-up li a{
        animation: fade-links 1.2s ease-in forwards;
    }
    @keyframes fade-links {
        from{opacity:0}
        to{opacity:1}
    }
    .active {
        display: flex;
        gap:0;
        animation: normal 0.8s ease forwards  menu-down;
    }  
    @keyframes menu-down {
        from {opacity:0; height: 0vh; gap:0px }
        to   { opacity:1;height:35vh; gap:67px }
    }  
    .close {
        display: flex;
        gap:0;
        animation: 1s ease forwards  menu-up;
        opacity:0;
    }    
    @keyframes menu-up {
        from {opacity:1;height:35vh; gap:67px }
        to{opacity:0;height: 0vh; gap:0px}
    }

    /*Menu burger*/
    #burger {
        width:20px;
        height:2px;
        background:white;
        display:inline-block;
        position:relative;
        margin-right:15px;
    }
    #burger::before,
    #burger::after {
        content:'';
        width:25px;
        height:2px;
        background:white;
        display:inline-block;
        position:absolute;
        transform-origin: center;
        transition: all 0.3s ease;
    }
    #burger::before {
        top:-9px;
    }
    #burger::after {
        top:9px;
    }
    #burger.open {
        background:transparent; /* la barre du milieu disparait */
    }
    /* celles du haut et du bas s'inclinent pour former une croix */
    #burger.open::before {
        transform: rotate(45deg); 
        top:0;
    }
    #burger.open::after {
        transform: rotate(-45deg);
        top:0;
    }

    /* h1.title{
        letter-spacing:6px;
        font-size:2.3rem;
    } */
    /*Header mobile*/
    .header-up{
        background: url('../img/backgrounds/mobile-bckg-header.png') no-repeat center ;
        height: 49vh;
    }
    .about-whois{
        font-size: 35px;
    }
    .circle{
        top:70vh;
        left:-20vw;
        width:250px;
        height:250px;
    }
    .about{
        flex-direction:column;
        text-align:center;
        padding:0;
        padding-bottom:10px;
        padding-top:10px;
    }
    .about-text{
        text-align:justify;
        max-width: 21.25rem;
    }
/* Section COMING SOON */
    .video-desc {
        overflow: visible;
        height: auto;
        text-align: justify;
    }
    .video_container{
        width:100%;
        margin-bottom:50px;
        flex-direction: column;
    }
    .video-desc_container{
        text-align:center;
        justify-content: center;
        margin:0;
        padding:10px;
        max-width:100%;
    }
    .btn-read-more{
        display:none;
    }

/* Section MOVIES */
.movies{
    padding:0;
}
    .carousel-movie {
        flex: 1 0 283px;
    }
    .carousel-contain{
        justify-content: space-around;
        width: 80%;
        margin-left: 2rem;
    }
    ::-webkit-scrollbar-track {
        display:none;
    }
    ::-webkit-scrollbar-thumb {
        display:none    
    }
    .img-container{
        overflow-x: scroll;
        width:100%;
    }

/* Section GALERIE */
    #gallery{
        padding:0;
    }
    .img-container{
        display: none;
    }
    #responsive-gal{
        display:flex;
        width:350px
    }
    #carousel-gal{
        display: flex;
        overflow-x: scroll;
        padding: 1rem 0;
        gap: 12px;
        scroll-snap-type: x mandatory;
    }
    #carousel-gal{
        scroll-snap-align: start;
        align-items: center;
    }
    .gallery-list-img{
       flex: 1 0 283px;
    }
    .picture-card{
        width:auto;
    }
/* Section FOOTER */
    footer{
        padding-top:0;
    }
    .form-contain{
        text-align: center;
        padding: 20px;
    }
    .custom-field{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-input{

    }
    #mail-input{
        width: 94.2%;
        margin-bottom: 15px;
    }
    .btn-submit{
        width: 98%;
    }
    .foot-components{
        flex-direction:column;
        text-align: center;
        padding-top: 20px;
        gap: 35px;
        font-size: 1.1rem;
    }
    .socials{
        gap: 25px;
    }
    .socials-logo{
        gap: 48px;
    }
    .logo-social{
        width: 50px;
        box-sizing: border-box;
        fill:#FEFEFE;
    }
    .copyright{
        font-size: .75rem;
    }
}